<button disabled="{{$ctrl.disabled}}" class="el-button" ng-click="handleClick()" autofocus="{{$ctrl.autofocus}}" type="{{$ctrl.nativeType}}"
    ng-class="[
      $ctrl.type ? 'el-button--' + $ctrl.type : '',
      $ctrl.size ? 'el-button--' + $ctrl.size : '',
      {
        'is-disabled': $ctrl.disabled,
        'is-loading': $ctrl.loading,
        'is-plain': $ctrl.plain
      }
    ]">
    <i class="el-icon-loading" ng-if="$ctrl.loading"></i>
    <i ng-class="'el-icon-' + $ctrl.icon" ng-if="$ctrl.icon && !$ctrl.loading"></i>
    <span ng-transclude></span>
  </button>